<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_area :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_area :last_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_area :district %>
  </div>

  <div class="field">
    <%= form.label :sub_district %>
    <%= form.text_area :sub_district %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.text_area :province %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_area :zip_code %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.text_field :total_price %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
